In [70]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt

df = pd.read_csv("AdmissionData.csv")
df.drop(['Serial No.'],axis=1,inplace=True)

x = df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']]
y = df['Chance of Admit']
# x = pd.get_dummies(x)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

X_train = np.array(x_train)
X_test = np.array(x_test)

Y_train = np.array(y_train)
Y_test = np.array(y_test)

lr = LogisticRegression()
# lr.fit(X_train, Y_train)
# pred = lr.predict(X_test)
scores = cross_val_score(lr, x_train, y_train, cv=10)

In [71]:
df = pd.read_csv('AdmissionData.csv', na_values=['?'])
df.drop(['Serial No.'],axis=1,inplace=True)
df.head()

df = df.iloc[0:]
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [72]:
df.loc[ (df['GRE Score'].isnull()) | (df['TOEFL Score'].isnull()) | (df['University Rating'].isnull()) |
        (df['SOP'].isnull()) | (df['LOR'].isnull()) | (df['CGPA'].isnull()) | (df['Research'].isnull()) ]
df.dropna(inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [77]:
features = df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']].values
targets = df['Chance of Admit'].values
feature_names = ['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']

In [78]:
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

In [82]:
lr = LogisticRegression()
pred = lr.fit(features_scaled, targets)
scores = cross_val_score(lr, features_scaled, targets, cv=10)

ValueError: Unknown label type: 'continuous'